@import "tailwindcss";

@theme {
  --color-primary: hsl(205, 19%, 22%);
  --color-primary-bg: hsl(205, 19%, 22%);
}

@media print {
  @page {
    margin: 0;
    margin-top: 0.35in; /* Set your desired margin here */
    margin-bottom: 0.35in;
  }

  iframe.skiptranslate {
    display: none !important;
  }

  body {
    @apply text-xs;
    top: 0 !important;
  }
}
